.header__logo {
    max-width: 142px;
    max-height: 33px;
    margin: 0;
    margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin: 28px auto 0 27px;
    }
}