.profile__icon-edit {
    margin: 6px;
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 767px) {
    .profile__icon-edit {
        width: 7px;
        height: 7px;
        margin: 5px;
    }
}