.element__open-image {
    background-size: cover;
    border: none;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    height: 282px;
    padding: 0;
    width: 282px;
    cursor: pointer;
}