.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    outline: none;
    background-image: url("../../../images/close-icon-default.svg");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.popup__close:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close {
        top: -32px;
        right: 4px;
        width: 20px;
        height: 20px;
    }
}