.element__icon-heart {
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    background-image: url("../../../images/heart-icon-default.svg");
    background-color: transparent;
    border: none;
}

.element__icon-heart:hover {
    opacity: 0.5;
    cursor: pointer;
}
